.App {
  margin: 40px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Age-label {
  margin-top: 10px;
  margin-bottom: 30px;
}

.inputSearch{
  width: 500px;
  padding: 20px;
  font-size: 20px;
}
.divStyle1{
  display: inline-block;
  border: 1px solid black;
  width: 48%;
  vertical-align: top;
  padding: 0 0 36px;
  text-align : center;
}

.divStyle2{
  cursor: pointer
}